.about {
	padding: 80px 0;
	@include breakpoint(768) {
		padding: 40px 0;
	}
	@include breakpoint(686) {
		padding: 0 0 40px 0;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		@include breakpoint(686) {
			flex-direction: column;
		}
	}
	&__content {
		@include breakpoint(992) {
			margin-top: 20px;
		}
	}
	&__content-wrapper {
		flex: 0 1 auto;
		padding: 0 60px;
		margin-left: 66px;
		@include breakpoint(1200) {
			padding: 0 50px;
		}
		@include breakpoint(992) {
			padding: 0 40px;
			margin-left: 0;
		}
		@include breakpoint(768) {
			flex: 0 1 65%;

			padding: 0 0 0 30px;
		}
		@include breakpoint(686) {
			padding: 0;
		}
	}
	&__image {
		flex: 1 0 auto;
		img {
			max-width: 384px;
			width: 100%;
			@include breakpoint(768) {
				max-width: 280px;
			}
			@include breakpoint(686) {
				margin: 0 auto;
			}
		}
		@include breakpoint(768) {
			flex: 0 1 auto;
		}
	}
	&__title {
		margin-top: 105px;
		@include breakpoint(1200) {
			margin-top: 50px;
		}
		@include breakpoint(992) {
			margin-top: 20px;
		}
		@include breakpoint(686) {
			margin-top: 10px;
		}
	}
	&__text {
		padding-right: 50px;
		line-height: 27px;
		letter-spacing: 0em;
		text-align: left;
		@include breakpoint(992) {
			padding-right: 20px;
		}
		@include breakpoint(686) {
			padding: 0;
		}
		@include breakpoint(576) {
			line-height: 18px;
		}
	}
	&__text + .about__text {
		margin-top: 16px;
		margin-bottom: 32px;
		@include breakpoint(686) {
			margin-bottom: 20px;
		}
		@include breakpoint(576) {
			margin-top: 10px;
		}
	}
	&__content-wrapper,
	&__text,
	&__title {
		@include breakpoint(686) {
			text-align: center;
		}
	}
}
