.about {
	padding: 80px 0;
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
	&__content {
		flex: 0 1 auto;
	}
	&__content-wrapper {
		padding: 0 60px;
		margin-left: 66px;
	}
	&__image {
		flex: 1 0 384px;
	}
	&__title {
		margin-top: 105px;
	}
	&__text {
		padding-right: 50px;
		line-height: 27px;
		letter-spacing: 0em;
		text-align: left;
	}
	&__text + .about__text {
		margin-top: 16px;
		margin-bottom: 32px;
	}
}
