.benefit {
	padding: 80px 0;
	@include breakpoint(768) {
		padding: 40px 0;
	}
	&__wrapper {
		display: flex;
	}
	&__image {
		flex: 0 0 384px;
		@include breakpoint(768) {
			flex: 0 0 50%;
		}
		@include breakpoint(576) {
			flex: 0 0 45%;
		}
	}
	&__content {
		padding: 126px 126px 126px 0;
		@include breakpoint(1200) {
			padding: 100px 100px 100px 0;
		}
		@include breakpoint(768) {
			padding: 60px 60px 60px 0;
		}
		@include breakpoint(686) {
			padding: 10px 20px 10px 0;
		}
		@include breakpoint(576) {
			padding: 0 20px 10px 0;
		}
	}
	&__content.right {
		padding: 126px 0 126px 126px;
		@include breakpoint(1200) {
			padding: 60px 0px 60px 60px;
		}
		@include breakpoint(768) {
			padding: 60px 0 60px 60px;
		}
		@include breakpoint(686) {
			padding: 10px 0 10px 20px;
		}
		@include breakpoint(576) {
			padding: 0 0 0px 20px;
		}
	}
	&__text {
		@include breakpoint(576) {
			line-height: 25px;
		}
		@include breakpoint(401) {
			font-size: 12px;
			line-height: 17px;
		}
	}
}
.left {
	@include breakpoint(576) {
		margin-bottom: 25px;
	}
}
