.benefit {
	padding: 80px 0;
	&__wrapper {
		display: flex;
	}
	&__image {
		flex: 0 0 384px;
	}
	&__content {
		padding: 126px 126px 126px 0;
	}
	&__content.right {
		padding: 126px 0 126px 126px;
	}
}
