html,
body {
	height: 100%;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	font-weight: 400;
	color: $text-color;
	@include breakpoint(576) {
		font-size: 14px;
		line-height: 18px;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

.title {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 36px;
	line-height: 150%;
	letter-spacing: -0.01em;
	color: $dark-color;
	margin-bottom: 24px;
	@include breakpoint(992) {
		margin-bottom: 18px;
		font-size: 30px;
	}
	@include breakpoint(768) {
		font-size: 22px;
	}
	@include breakpoint(686) {
		margin-bottom: 10px;
	}
	@include breakpoint(401) {
		line-height: 24px;
	}
}

.none {
	display: none;
}
.no-scroll {
	overflow: hidden;
}
