.header {
	@include breakpoint(992) {
		position: fixed;
		background-color: $white;
		left: 0;
		right: 0;
		border-bottom: 1px solid $text-color;
		z-index: 1000;
	}
	&__top {
		padding: 36px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__nav-list {
		display: flex;
	}
	&__nav-item + .header__nav-item {
		margin-left: 32px;
	}
	&__nav-btn {
		padding: 14px 16px 14px 16px;
		a {
			line-height: 19.36px;
		}
	}
	&__nav-link {
		color: $text-color;
	}
	&__logo {
		font-family: "Montserrat", sans-serif;
		font-size: 32px;
		font-weight: 600;
		line-height: 39px;
		text-align: left;
		a,
		a:visited {
			color: $dark-color;
		}
	}
	&__nav,
	&__nav-btn {
		@include breakpoint(992) {
			display: none;
		}
	}
}
