.hero {
	padding: 80px 0;
	@include breakpoint(768) {
		padding-top: 0;
		padding-bottom: 36px;
	}
	&__wrapper {
		display: flex;
		@include breakpoint(768) {
			padding-top: 0;
			padding-right: 0;
			display: flex;
			flex-direction: column-reverse;
			text-align: center;
		}
	}
	&__image {
		flex: 1 0 auto;
		@include breakpoint(1200) {
			flex: 0 1 auto;
			margin: 0 auto;
		}
		@include breakpoint(768) {
			padding-top: 0;
		}
	}
	&__content {
		padding-top: 135px;
		flex: 0 1 auto;
		padding-right: 70px;
		@include breakpoint(1200) {
			flex: 0 1 50%;

			padding-top: 45px;
			padding-right: 20px;
		}
		@include breakpoint(992) {
			padding-top: 25px;
			padding-right: 10px;
		}
		@include breakpoint(768) {
			padding-top: 25px;
			padding-right: 0;
			display: flex;
			flex-direction: column;
			text-align: center;
		}
	}

	&__title {
		color: $dark-color;
		font-family: "Montserrat", sans-serif;
		font-size: 48px;
		font-weight: 600;
		line-height: 72px;
		letter-spacing: -0.01em;
		text-align: left;
		padding-bottom: 24px;
		@include breakpoint(992) {
			font-size: 34px;
			line-height: 44px;
			padding-bottom: 15зч;
		}
		@include breakpoint(768) {
			font-size: 32px;
			line-height: 44px;
			text-align: center;
		}
	}
	&__text {
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		color: $text-color;
		padding-bottom: 32px;
		padding-right: 45px;
		@include breakpoint(992) {
			padding-right: 10px;
		}
		@include breakpoint(768) {
			padding-right: 0;
		}
	}
}
