.reservation {
	padding: 80px 0;
	text-align: center;
	@include breakpoint(768) {
		padding: 40px 0;
	}
	//top
	&-top {
		max-width: 588px;
		margin: 0 auto;
		padding-bottom: 56px;
		@include breakpoint(768) {
			padding-bottom: 20px;
		}
		@include breakpoint(576) {
			padding-bottom: 0;
		}
	}
	&-top__title {
	}
	&-top__text {
		margin-bottom: 32px;
		@include breakpoint(576) {
			margin-bottom: 20px;
		}
	}
	&-top__btn {
		margin-bottom: 32px;
		@include breakpoint(576) {
			margin-bottom: 20px;
		}
	}
	//body
	&-body {
		display: flex;
		justify-content: space-between;
		text-align: left;
		@include breakpoint(576) {
			text-align: center;
			flex-direction: column;
		}
		@include breakpoint(401) {
			text-align: left;
			flex-direction: column;
		}
	}
	&-body__item {
		flex: 0 0 calc(100% / 3 - 16px);
	}

	&-body__title {
		font-family: Montserrat;
		font-size: 24px;

		font-weight: 600;
		line-height: 36px;
		letter-spacing: 0em;
		padding-top: 32px;
		margin-bottom: 16px;
		@include breakpoint(576) {
			padding-top: 10px;
		}
	}
	&-body__text {
		margin-bottom: 32px;
		@include breakpoint(576) {
			margin: 0 auto;
			margin-bottom: 10px;
			max-width: 360px;
		}
	}
	&-body__btn {
		color: $link-color;
		display: inline-block;
		max-width: 130px;
		width: 100%;
		position: relative;
		a {
			display: inline-block;
			padding-right: 21px;
		}
		&::after {
			position: absolute;
			content: "";
			background: url(../images/arrow-right.svg);
			background-repeat: no-repeat;
			width: 17px;
			height: 13px;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			@include breakpoint(401) {
				right: 20%;
			}
		}
		@include breakpoint(576) {
			margin-bottom: 25px;
		}
	}
	&-body__image {
		img {
			margin: 0 auto;
		}
	}
}
